* {
    margin: 0;
    padding: 0;
}
.wrapper {

}

/* 顶部header开始了 */
.wrapper .header {
    height: 75px;
    width: 980px;
    margin: 0 auto;
    line-height: 75px;
    position: relative;
}
.wrapper .header .mod-header {
    width: 330px;
    height: 75px;
    background-image: url(../images/logo.png); 
    background-position: right; 
    background-repeat: no-repeat; 
    font-size: 72px;
}
.wrapper .header a {
    display: block;
    width: 330px;
    height: 75px;
    background-size: cover;
}
.wrapper .header a img {
    margin-top: 15px;
}
.wrapper .header .login {
    position: absolute;
    right: 0;
    top: 0;
}
.wrapper .header .login span {
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    color: #666;
    font-size: 12px;
}
.wrapper .header .login button {
    font-weight: 700;
    color: #666;
    height: 32px;
    width: 64px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f7f7f7;
}
/* 顶部header结束了 */

/* 那条横线开始了 */
.wrapper .nav .nav-image {
    height: 20px;
    background-image: url(../images/reg_hr.png);
    background-position: center;
    background-repeat: no-repeat;
}
/* 那条横线结束了 */

/* 主要内容开始 */
.wrapper .content {
    width: 980px;
    /* height: 10px; */
    margin: 0 auto;
}
.wrapper .content .form {
    width: 720px;

}
.wrapper .content .form table {
    margin-top: 14px;
    border-spacing: 10px 20px;
}

.content .form table td {
    width: 65px;
    height: 42px;
    text-align: right;

}
.content .form table label {
    font-size: 14px;
    color: #666;
    font-weight: 700;
} 
.content .form table input {
    height: 16px;
    width: 328px;
    padding: 11px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    float: left;
}
.content .form table input::-webkit-input-placeholder {
    color: #757575;
    font-size: 15px;
 }
.content .form table tr td p a {
    text-decoration: none;
    color: #1b66c7;
}
.content .form table tr td p a:hover {
    text-decoration: underline;
}
.content .form table p,p label {
    font-size: 12px;
    color: #666;
    margin-left: 5px;
    float: left;
    margin-top: -2px;
} 
.content .form table tr td p label {
    font-weight: 400;
}
.form>a {
    color: #00c;
    padding-left: 15px;
    text-decoration: none;
    font-size: 12px;
}
/* 主要内容结束了 */